
<body>
<mat-card>
  <form>
    <mat-card-header class="header">
      <mat-card-title > Transactions</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <p style=" margin-left:250px ;" >{{accountType}}</p>
    <div *ngFor="let transaction of transactions" style=" margin-left: 100px">

     <p>
      <p>Date:<span class="data"> {{transaction.date | date}}</span></p>
      <p> Type of transaction: <span class="data">{{transaction.description}}</span></p>
      <p> Destination: <span class="data">{{transaction.destination}}</span></p>
      <p>  Transaction Amount:<span class="data"> {{transaction.amount | currency: "R"}}</span></p>
      <p>Service Fee: <span class="data">{{transaction.serviceFee | currency: "R"}}</span></p>
      <p> Reference :<span class="data">{{transaction.reference}}</span></p>
      <br/>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <button (click)="close()">close</button>
  </mat-card-actions>
  </form>
</mat-card>


</body>
