mat-card-actions>button{
  margin-left: 15px;
  background-color:#03A9F4;
}
.left-container{
  height: 100%;
  width: 40%;
  background-color:#03A9F4 ;
  float:left;

}
.right-container{
  width: 60%;
  height: 100%;
  float:left

}
main:after{
  display: table;
  clear: both;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}

.mat-footer-cell{
  align-items: baseline;
  padding-bottom: 0;
  margin-bottom: 10px
}
  a{
  padding-left: 15px;
  margin-left: 10px;
}
  h1{
    padding-left: 15px;
    margin-left: 10px;
  }
mat-card{
  margin-top: 200px;
  margin-right: 550px;
  margin-left: 90px;
  padding-left: 15px;
}

