
<main>
<div class="left-container">
  <h1>Enviro Bank</h1>
  <div class="mat-footer-cell"><a>Privacy Policy</a>
    <a>Contact</a>
  </div>
</div>
<div class="right-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="mat-card-title">Welcome To Enviro-Bank</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Please enter username or email" formControlName="usernameOrEmail">
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Please enter password" formControlName="password">
        </mat-form-field>
        <br/>
        <a routerLink="reset-password" mat-button color="primary" style="color: #03A9F4">Forgot Password?</a>
        <button mat-flat-button style="background-color:#03A9F4"  class="btn">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</main>
